.bubbles {
  opacity: .2;
}
.bubbles:hover {
  stroke: black;
  opacity: 1.0 !important;
}

.grid-line {
  stroke: grey;
  opacity: 0.6;
  stroke-dasharray: 2,6;
}

.axis_main text {
  fill: grey;
  font-size: 1rem;
}

.annotation-note-title {
  font-weight: 400 !important;

}

.tooltip {
  font-size: 1rem !important;
  margin-left: 150px !important;
  max-width: 60% !important;
}

.axis_main {
  display: none;
}
